<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="chahyunbin.cwapp1">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_2"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Video.Video_View"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".Personal_Info_Fix"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".Video.VideoListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Login.LoginHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BottomBar.Tabbar_activity"
            android:theme="@style/AppTheme.TransNav" />
        <activity
            android:name=".FirebaseDatabase_Input"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".Bible.BibleActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".MainActivity.LeaderMainActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".Login.EmailSignUpActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".Login.EmailSignInActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".PersonalInfoActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".MemberInfo.MemberInfoActivity"
            android:theme="@style/Theme.AppCompat.Dialog" /> <!-- android:theme="@android:style/Theme.Dialog"/> -->
        <activity android:name=".MainActivity.MemberMainActivity" />
        <activity android:name=".LodingActivity" />
        <activity android:name=".MemberCheck" />
        <activity android:name=".MemberInfo.ExpandableListView.CheckedActivity" />
        <service android:name=".FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>